/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

ckmeans-*.gem

# Ignore compiled extension files
*.bundle
*.so
*.o
*.dll

# Ignore generated makefiles and compilation artifacts
ext/**/Makefile
ext/**/mkmf.log
ext/**/*.log
ext/**/tmp/
